<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @attachment.post %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @attachment.attachment %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
