<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @dumpster.post %>
</p>

<p>
  <strong>Date:</strong>
  <%= @dumpster.date %>
</p>

<%= link_to 'Edit', edit_dumpster_path(@dumpster) %> |
<%= link_to 'Back', dumpsters_path %>
