<%= form_with(model: innapropiate, local: true) do |form| %>
  <% if innapropiate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(innapropiate.errors.count, "error") %> prohibited this innapropiate from being saved:</h2>

      <ul>
      <% innapropiate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :coment %>
    <%= form.text_field :coment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
