<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @innapropiate.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @innapropiate.post %>
</p>

<p>
  <strong>Coment:</strong>
  <%= @innapropiate.coment %>
</p>

<%= link_to 'Edit', edit_innapropiate_path(@innapropiate) %> |
<%= link_to 'Back', innapropiates_path %>
